header {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  padding-top: 20px;
}

nav, .de, .en {
  margin-left: 1rem;
}

.de {
  width: 20vw;
  height: 2vh;
  border: 1.5px black solid;
  border-radius: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight:900;
}

.de:hover {
  color:var( --background-color);
  background-color:var(--text-main-color);
}

.en:hover {
  color:var(--text-main-color);
  background-color:var( --background-color);
}

.en {
  width: 20vw;
  height: 2vh;
  border: 2px black solid;
  border-radius: 100%;
  color:var( --background-color);
  background-color:var(--text-main-color);
  padding: 10px;
  font-size: 16px;
  font-weight:900;
}